body{
   align-items: center;
   font-size:1.1rem;
   max-width: 500px;
}

div.to-do-area{
    margin: 0 auto ;
    padding:0 auto ;

    text-align: center;
}


input{
    border-radius: 16px;
    border:none;
    padding:6px 16px;
    outline:none;
}

button{
    border-radius:16px;
    border:none;
    padding:4px 16px;
}

button:hover{
    background-color: #ff7fff;
    color:#fff;
    cursor: pointer;
}

li{
    margin-right: 8px;
}


.input-area{
    background-color: #c1ffff;
    width:auto;
    max-width:100%;
    height:30px;
    padding:8px;
    margin:8px;
    border-radius: 8px;
}

.imcomplete-area{
    background-color: #c6ffe2;
    width:auto;
    max-width:100%;
    min-height:200px;
    padding:8px;
    margin:8px;
    border-radius: 8px;
}

ul.imcomplete-area{
    text-align: center;
}


.complete-area{
    background-color: #ffff00;
    width:auto;
    max-width:100%;
    min-height:200px;
    padding:8px;
    margin:8px;
    border-radius: 8px;
}


.title{
   text-align: center;
   margin-top: 0;
   font-weight: bold;
   color:#666
}

.list-row{
    display:flex;
    align-items: center;
    padding-bottom: 4px;
}

.wrap{
    overflow: hidden;
    width:100%;
}